@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" );

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
section{

    position: absolute;
    left: 0;
    width: 100%;
    height:100vh ;
    padding :100px;

    display: flex;
    justify-items:  flex-start;
    align-items: center;
    background: black;
     transition: 0.5s;

}
 header{
    position: 0;

    top: 0;
    left: 0;
    width:100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    z-index: 1000;


}
header .logo{
 color: #fff;
 text-transform: uppercase;
 cursor: pointer;


}
  section video{
    position: absolute;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to left,blue, #f00
);
mix-blend-mode: overlay;


  }
   .text{
    position: relative;
     z-index: 10;
     margin: 40px;

    

   }
   .text h2{
    font-size:6em;
    font-weight: 800;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;

   }
   .text h3{
    font-weight: 700;
    line-height: 4em;
    color: #fff;
   }
   .text p{
position: relative;
 font-size:1.1em;
 margin: 20px 0 ;
 font-weight: 400;
 max-width: 700px;
 color: #fff;

   }
   text a{
    display: inline-block;
    font-size: 1.9em;
    background: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #000;
    background-color: #fff;


   }
   .sci{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

   }
   .sci li{
    list-style: none;

   }
   .sci li a{
    display: inline-block;
    margin-right:20px 
    ;
    filter: invert(1);
    transform: 0.5;

   }
   .toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('./image/menu.png');
   background-repeat: no-repeat;
    background-size: 30px;
   background-position: center;
   cursor: pointer;  }










